.App {
  text-align: center;
}

body {
  height: 100%;
}

.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.err-msg {
  color: red;
  margin-bottom: 0.2rem;
}

.form-card {
  box-shadow: 10px 20px 30px silver;
}

.btn {
  width: 7rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.no-cursor > div > form div > label {
  caret-color: transparent;
}